@media only screen and (max-width: 600px){
  #img-top{
    display: none;
  }
}
html{
   background-color: #ea9d3e;
}
body{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  margin: 0 100px 0 100px;
}
#main-header{
  background-image: radial-gradient(circle, #ea9d3e, #e5ac3f, #e5bd3f, #eec33d, #312f17);
  height: 150px;
  margin-bottom: 10px;
  }
  #img-top{
    width: 250px;
    position: absolute;
    right: 150px;
    top:75px;
  }
  .h1{
    display: block;
    text-align: center;
    margin: auto;
    padding: 30px;
    text-decoration: underline;
    font-weight: 700;
  }
  #navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #navbar a {
    position: fixed; 
    left: -80px; 
    transition: 0.3s;
    padding: 15px; 
    width: 100px;
    text-decoration: underline;
    font-size: 20px;
    color: #ea9d3e;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
    font-weight: 500;
      }
      #navbar a:hover{
        left: 0;
      }
      #hidden{
    display: none;
      }
   nav .Equipment{
    top: 20px;
    background-color: #312f17;
      }
    nav .Ingrediants{
    top: 80px;
    background-color: #312f17;    
      }
    nav .Method{
    top: 140px;
    background-color: #312f17;  
      }   
    nav  .Cooking{
        top: 200px;
    background-color: #312f17;
      }   
    nav  .Finishing_Touches{
        top: 260px;
    background-color: #312f17;
      }
  .sub-header{
        color: #ea9d3e;
        text-align: center;
        font-weight: 600;
        text-decoration: underline;
        font-size: 26px;
        background-color: #312f17;
        height: 75px;
        padding-top: 15px;
      }
  main{
    padding-top: 20px;
  }
  .group-1{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-bottom: 5px;
    width: 100%;
  }
  .group-2{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-bottom: 5px;
    width: 100%;
  }
  .sect-1{ 
    height: 50px;
    display: inline-block;
    font-size: 18px;
    background-color: #312f17;
    color: #e5ac3f;
    font-weight: 500;
   }
   
  .sect-2{ 
    height: 50px;
    display: inline-block;
    font-size: 18px;
    background-color: #312f17;
    color: #e5ac3f;
    margin-bottom: 15px;
    font-weight: 500;
   }
   .sect-1 span, .sect-2 span{
     display: block;
     font-weight: 400;
   }
  h4{
    text-align: center;
    text-style: bold;
    text-decoration: underline;
    font-size: 20px;
  }
  main{
    background-color: #e5ac3f;
    color: #312f17;
  }
  footer{
   background-image: radial-gradient(circle, #ea9d3e, #e5ac3f, #e5bd3f, #eec33d, #312f17);
   height: 150px;
        }
  .footer-text{
   font-size: 20px;
   font-weight: 400;
   padding-left: 15px;
     }
     .img-bottom{
    width: 250px;
    padding-left: 15px;
     }
